/* background images */
header {
  background-image: url('../assets/images/bg (4).jpg');
}

.bg-1 {
  /* background-image: url('../assets/images/2.png');   */
}

.bg-2 {
  background-image: url('../assets/images/3.png');  
}

.bg-3 {
  background-image: url('../assets/images/4.png');  
}

.bg-4{
  background-image: url('../assets/images/9.png');  
}

.bg-5 {
  background-image: url('../assets/images/6.png');  
}

.bg-6 {
  background-image: url('../assets/images/7.png');  
}


/* style general */

h4, .c-main:hover, footer>p, .modal-title {
  color: #61DDD5;
} 

h4 {
  font-size: 50px;
  /* font-family: 'Amatic SC', cursive; */
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 50ms ease;
}

.container-bg-img:hover {
  background: radial-gradient( rgba(0, 0, 0, 0.842),#000000) ;
  cursor: pointer;
  font-size: 1.1rem;
}

.container-bg-img {
  color: transparent;
  transition: all 300ms ease;  
}

/* style navbar */

header .navbar {
  padding: .8rem 1rem;
  background-color: transparent;
}

header .navbar ul.mr-auto-left {
  margin-right: 0 !important;
  margin-left: auto !important;
}

header .navbar ul.mr-auto-left>li {
  margin: 0 1rem;
}

.c-main, .navbar-toggler-icon , .font-2, .font{
  color: white;
}

/* style view MAIN */

.h-90 {
  height: 90vh;
}

.height-100 {
  height: 100vh;
}

.height-10 {
  height: 10vh;
}

body {
  background-color: #0D0E14;
  color: #ffffff;
}

h4, .font, h3, h5 {
  font-family: 'Fjalla One', sans-serif;  
  text-transform: uppercase;  
}

.font {
  font-size: 6rem;
}

.font-2 {
  font-size: 30px;  
  font-family: 'Julius Sans One', sans-serif;
}

/* style ABOUT ME */

#about-me, #contact {
  background-color: #ffffff;
  color: #0D0E14;
}

#about-me h4, #contact h4 {
  font-weight: 600;
  /* color: #DD6169; */
}

/* style PORTFOLIO */

#particles-js {
  width: 100%;
	height: 100%;
	position: absolute;
}

#work{
  position: relative;
}

/* style Contact */

#contact ul {
  list-style: none;
}

#contact a {
  border: 1px solid rgb(70, 76, 158);
  padding: 1rem 1.2rem;
  color: rgb(70, 76, 158);
  font-size: 1.2rem;
  text-decoration: none;
}

#about-me h5 {
  color: rgb(70, 76, 158);  
  font-size: 2rem;
}

/* modal */
.modal-content {
  background-color: #0D0E14;
  color: white;
}

/* media querys */

@media (min-width: 768px) {
  .font {
    font-size: 5rem;
  }

  .h-60 {
    height: 60vh;
  }

  .h-35 {
    height: 35vh;
  }
}